*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    text-align: center;
    background: #293f50;
}

body {
    color: darkgrey;
    background: #293f50;
}

#flex-container {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10vh;
    height: 69vh;
}

button {
    background: #293f50;
    border-radius: 5px;
    color: darkgrey;
    display: block;
    border: 1px solid darkgrey;
    width: 8em;
    flex: 1 1 auto;
    max-height: 16vh;
    font-size: 5.7vmin;
    font-weight: 400;
    letter-spacing: .18em;
    text-transform: uppercase;
    user-select: none;
    visibility: hidden;
}

#shudown-note {
    font-size: small;
    letter-spacing: normal;
    text-transform: none;
}

nav {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    /* background: snow; */
}

ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 150%;
    /* background: yellow; */
}

li {
    margin: 3.5vh 0;
}

a:link, a:visited {
    color: darkgray;
    text-decoration: none;
}

section {
    padding: 5px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    text-align: left;
    font-size: 150%;
}

section p {
    text-align: left;
}

#textScore {
    width: 70%;
    max-width: 16em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#textMsg {
    margin-top: 10vh;
    font-size: 140%;
}

.italics {
    font-style: italic;
}

#name {
    margin-right: 25px;
    text-align: right;
    font-size:90%;
}

@media (max-width: 400px) {
    html {
	font-size: 14px;
    }
}

@media screen and (min-width: 900px) {
  section {
     font-size: 15px;
  }
}
