# ############################################################
# This systemd service file is adapted from file
# dhcpd4.service of the Arch Linux package dhcpd.
# ############################################################
[Unit]
Description=IPv4 DHCP server on %I
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
ExecStart=$DHCP_PATH -4 -q -cf $HSS_DIR/conf/dhcpd.conf -pf /run/dhcpd4/dhcpd.pid %I
RuntimeDirectory=dhcpd4
PIDFile=/run/dhcpd4/dhcpd.pid
ProtectSystem=full
ProtectHome=on
KillSignal=SIGINT
# We pull in network-online.target for a configured network connection.
# However this is not guaranteed to be the network connection our
# networks are configured for. So try to restart on failure with a delay
# of two seconds. Rate limiting kicks in after 12 seconds.
RestartSec=2s
Restart=on-failure
StartLimitInterval=12s

[Install]
WantedBy=multi-user.target
