# ##################################################
#		Human Sound Sculpture
#
# A systemd service file for starting the web server
# of the piece.
# Save this file under /usr/lib/systemd/system.
#		see: man systemd.unit for paths
#
# Start the service with
#		sudo systemctl start hss-web-server.service
# ##################################################

[Unit]
Description=Human Sound Sculpture - Web server
Documentation=file:$HSS_DIR/README.md
After=network-online.target

[Service]
Type=simple
DynamicUser=true
User=hss
# Start the web server.
ExecStart=/usr/bin/node $HSS_DIR/webserver/server.js
Restart=on-failure
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
KeyringMode=private

[Install]
WantedBy=default.target
