<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <link rel="stylesheet" href="styles.css">
    <!-- A workaround to avoid the annoying chrome error message -->
    <!-- 'favicon not found' -->
    <link rel="shortcut icon" href="">
    <title>Human Sound Sculpture: Conductor</title>
  </head>
  <body>
    <h1>Conductor</h1>
    <h2 id="tapEl">Tap on this sentence to enable sound.</h2>
    <input type="hidden" id="soundCheckBtn" value="test"></input>
    <input type="hidden" id="startBtn" value="play"></input>
    <input type="hidden" id="shutdownBtn" value="shutdown"></input>
    <!-- Print console messages on the  web page with the next script. -->
    <!-- Use 'hnl.mobileConsole.js' in git's 'develop' branch. -->
    <!-- Comment or delete in 'master'. -->
    <!-- <script type="text/javascript" src="hnl.mobileConsole.js"></script> -->
    <!--  -->
    <script type="module" src="hss.js"></script>
  </body>
</html>
