*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 3vmin;
    text-align: center;
    background: #293f50;
}

body {
    color: darkgrey;
    background: #293f50;
}

h2 {
    font-weight: normal;
}

input {
    background: #293f50;
    border-radius: 5px;
    color: darkgrey;
    display: block;
    margin: 10vmin auto 0 auto;
    border: 1px solid darkgrey;
    width: 12em;
    height: 15vmin;
    font-size: 4.7vmin;
    font-weight: 400;
    letter-spacing: .18em;
    text-transform: uppercase;
}

@media (max-width: 400px) {
    html {
	font-size: 12px;
    }
}
