# Code from Piotr Ożarowski
# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=889508

[Unit]
Description=Advanced IEEE 802.11 AP and IEEE 802.1X/WPA/WPA2/EAP Authenticator (%I)
After=network.target
BindsTo=sys-subsystem-net-devices-%i.device

[Service]
EnvironmentFile=/etc/default/hostapd
ExecStart=/usr/sbin/hostapd $DAEMON_OPTS /etc/hostapd/%i.conf
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target sys-subsystem-net-devices-%i.device

# it assumes one will feed it with wlan interface name, f.e.

#   $ systemctl start hostapd@wlan0.service

# will read config data from /etc/hostapd/wlan0.conf which should contain
# "interface=wlan0" and will be stopped automatically if wlan0 interface is no
# longer available (I use it to disable hostapd if USB device is removed or start
# hostapd when USB device is inserted)
