# ##################################################
#		Human Sound Sculpture
# 
# A systemd service file for starting SuperCollider
# Save this file under /lib/systemd/system.
#		see: man systemd.unit for paths
#
# RaspberryPi note: For some reason, user systemd
#	services don't start. We get the message:
#		Failed to connect to bus: No such file or directory
# ##################################################

[Unit]
Description=Run SuperCollider for the piece Human Sound Sculpture
Documentation=file:./README.md
Wants=hss-webServer.service
After=network-online.target

[Service]
Environment=QT_QPA_PLATFORM=offscreen DISPLAY=:0.0
Type=simple
DynamicUser=true
User=hss
# Start supercollider
ExecStart=/usr/local/bin/sclang -D /home/pi/humanSoundSculpture/supercollider/humanSoundSculpture.scd
# Restart=on-failure
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
KeyringMode=private

[Install]
WantedBy=default.target
