# ##################################################
#		Human Sound Sculpture
#
# A systemd service file for starting the web server
# of the piece.
# Save this file under /usr/lib/systemd/system.
#		see: man systemd.unit for paths
#
# Start the service with
#		sudo systemctl start hss-web-server.service
# ##################################################

[Unit]
Description=Web server for the piece Human Sound Sculpture
Documentation=file:/README.md
After=network-online.target

[Service]
Type=simple
Environment=HTTP_PORT=443
DynamicUser=true
User=hss
# Start the web server.
ExecStart=/usr/local/bin/node server.js
Restart=on-failure
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
ProtectSystem=strict
ProtectHome=read-only
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
KeyringMode=private

[Install]
WantedBy=default.target
