# ##################################################
#		Human Sound Sculpture
# 
# A systemd service file for starting SuperCollider
# Save this file under ~/.config/systemd/user.
#		see: man systemd.unit for paths
# Start the service with
#	systemctl --user hss-supercollider.service
#
# RaspberryPi note: For some reason, user systemd
#	services don't start. We get the message:
#		Failed to connect to bus: No such file or directory
# See this
#	https://www.raspberrypi.org/forums/viewtopic.php?t=287029
# for a solution.
# ##################################################

[Unit]
Description=Run SuperCollider for the piece Human Sound Sculpture
Documentation=file:./README.md
Wants=hss-webServer.service
After=network-online.target

[Service]
Environment=QT_QPA_PLATFORM=offscreen DISPLAY=:0.0
Type=simple
# Start supercollider
ExecStart=/usr/local/bin/sclang -D /home/pi/humanSoundSculpture/supercollider/humanSoundSculpture.scd
# Restart=on-failure

[Install]
WantedBy=default.target
