# ##################################################
#		Human Sound Sculpture
# 
# A systemd service file for starting the web server
# of the piece.
# Save this file under ~/.config/systemd/user.
#		see: man systemd.unit for paths
# CAUTION: Write the appropriate absolute paths in the fields
# 'EnvironmentFile', 'WorkingDirectory' and 'ExecStop'.
#
# Based on:
# https://nodesource.com/blog/running-your-node-js-app-with-systemd-part-1/
# https://nodesource.com/blog/running-your-node-js-app-with-systemd-part-2
# https://rollout.io/blog/running-node-js-linux-systemd/
# ##################################################

[Unit]
Description=Web server of the piece Human Sound Sculpture
Documentation=file:///./README.md
Requires=hss-supercollider.service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=HSS_DIR
# Start the web server.
ExecStart=/usr/local/bin/node server.js

# Restart=on-failure

[Install]
WantedBy=default.target
Also=hss-supercollider.service
