# ##################################################
#		Human Sound Sculpture
# 
# Networkd configuration file.
# Set static IP to the wifi network.
# ##################################################
[Match]
Name=wlan0

[Network]
Address=192.168.10.2/24
DHCPServer=yes