<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <link rel="stylesheet" href="styles.css">
    <!-- A workaround to avoid the annoying chrome error message -->
    <!-- 'favicon not found' -->
    <link rel="shortcut icon" href="">
    <title>Human Sound Sculpture: Conductor</title>
  </head>
  <body>
    <h1>Human Sound Sculpture</h1>
    <h2>Conductor</h2>
    <p id="textMsg" class="italics"></p>
    <input type="hidden" id="soundCheckBtn" value="test"></input>
    <input type="hidden" id="startBtn" value="play"></input>
    <input type="hidden" id="shutdownBtn" value="shutdown"></input>
    <script type="module" src="javascript/conductor.mjs"></script>
  </body>
</html>
