<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Tassos Tsesmetzis">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Human Sound Sculpture is a performance art piece for the public space.">
    <link rel="stylesheet" href="styles.css">
    <link rel="manifest" href="hss.webmanifest" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="/icons/hssIcon_180x180.png">
    <!-- A workaround to avoid the annoying chrome error message -->
    <!-- 'favicon not found' -->
    <link rel="shortcut icon" href="">
    <title>Human Sound Sculpture</title>
  </head>
  <body>
    <header>
      <h1>Human Sound Sculpture</h1>
    </header>
    <section>
      <h2>Description</h2>
      <p><span class="italics">Human Sound Sculpture</span> is a piece of performance art for public space. A group of people arranged in a line is moving towards a point. The spectator faces a snapshot of this proccess. <span class="italics">Human Sound Sculpture</span> is based on the <span class="italics">text score:</span></p>
      <div id="textScore">
	<p class="italics">Night.</p>
	<p>People with wooden faces.<br>Moving towards the same point</p>
	<p>One behind the other.<br>Close enough or far apart.</p>
	<p>Time at a standstill.</p>
      </div>
      <p> The ambient soundscape is part of the piece. Along with it a random endless sequence of notes unfolds. This sequence is distributed over the smartphone devices of the performers.</p>
      <p><span class="italics">Human Sound Sculpture</span> despite it's static form, deals with motion. The relentless motion of <span class="italics">Time</span>. Which interwines with the footsteps of passers-by. With the roar of the city. With the thoughts, dreams, memories and aspirations of the people that stand frozen in the row.</p>
      <p class="italics" id="name">Tassos Tsesmetzis</p>
    </section>
  </body>
</html>
