<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Tassos Tsesmetzis">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <!-- A workaround to avoid the annoying chrome error message -->
    <!-- 'favicon not found' -->
    <link rel="shortcut icon" href="">
    <title>Human Sound Sculpture</title>
  </head>
  <body>
    <h1>Human Sound Sculpture</h1>
    <h2>Player</h2>
    <p id="textMsg" class="italics"></p>
    <div id="flex-container">
      <button id="soundCheckBtn">test</button>
    </div>
    <script type="module" src="javascript/player.mjs"></script>
  </body>
</html>
